body {
  background-color: #cdd5d8;
  text-align: center;

  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;

  text-align: initial;
}

.title {
  color: #464646;
  font-family: cursive;
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: column;

  background-color: #ebecf0;
  border-radius: 3px;

  width: 500px;
  height: 70vh;
  margin: 10px;
}

.container .todo,
.container .doing,
.container .done {
  color: #fff;

  padding: 20px;
  margin: 0;
}

.container .todo {
  background-color: #87b4d8;
}

.container .doing {
  background-color: #ee9193;
}

.container .done {
  background-color: #2fbfbf;
}

.drop-zone {
  height: 100%;
  overflow-y: scroll;
}

.task {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);

  min-height: 5vh;
  margin: 10px;
  padding: 10px;

  cursor: pointer;
}
