body {
  margin: 0;
}

.parallax {
  display: flex;
  justify-content: center;

  position: relative;
  background-image: url('./sky.png');
}

.moon {
  position: absolute;
  left: 50%;
  top: 70%;

  background: #F5D059;
  box-shadow: inset -15px 0px #EDC541;
  border-radius: 50%;

  width: 150px;
  height: 150px;
}

.mountain {
  width: 100vw;
  height: 150vh;
  z-index: 10;

  background: url('./mountain.png') bottom / contain no-repeat;
}

h1 {
  position: absolute;
  top: 70%;

  color: #FFF;
  font-size: 3.8vw;
  text-shadow: 3px 3px #000;
  text-transform: uppercase;
}
